# Any input files on the root of the repository should be ignored
*input_*.py
*input.py
# Except these ones...
!inputs_templates/LPRE/components/thrust_chamber_assembly/TCA_input_RD109.py
!inputs_templates/LPRE/components/thrust_chamber_assembly/TCA_input_RD107.py
!inputs_templates/LPRE/components/thrust_chamber_assembly/injector_design_input.py
!inputs_templates/LPRE/components/thrust_chamber_assembly/injector_analysis_input.py
!inputs_templates/LPRE/components/pump/pump_input_design_ovsyannikov_1973.py
!inputs_templates/LPRE/components/pump/pump_input_design_ovsyannikov_1996.py
!tests/util_tests/check_modules/input_test1.py
!tests/util_tests/check_modules/input_test2_1c8203.py
!tests/LPRE_tests/components_tests/thrust_chamber_assembly_tests/TCA_input_dummy_predefined_design.py
!tests/LPRE_tests/components_tests/thrust_chamber_assembly_tests/TCA_input_dummy_analysis.py

# Also ignore folders inputs/ and outputs/
inputs/
outputs/

# CEA files
proplib/util/software_interfaces/cea/*.inp
proplib/util/software_interfaces/cea/*.out
proplib/util/software_interfaces/cea/*.plt
!proplib/util/software_interfaces/cea/thermo.out

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
!docs/build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.toml
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# JetBrains project settings
.idea/

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

.jupyter_ystore.db
